{% extends "home.html" %}

{% block titulo %}
Registro - FakePinterest
{% endblock %}

{%block formulario%}

<form action="" method="POST">

    {{ form.csrf_token }}
        {{form.email.label()}}
        {{form.email()}}

        {{form.username.label()}}
        {{form.username()}}

        {{form.senha.label()}}
        {{form.senha()}}

        {{form.confirmacao_senha.label()}}
        {{form.confirmacao_senha()}}

        {{form.botao_confirmacao()}}
    
    
    
    </form>


{%endblock%}